numpy
pandas
tqdm
scikit-learn
pydicom
lxml
opencv-python-headless
Pillow
matplotlib
torch
torchvision
gradio

# Grad-CAM (not reliably available via pip)
git+https://github.com/jacobgil/pytorch-grad-cam
